/* Cover Photo */
body {
	/*background-color: rgb(129,206,249);*/
	background-color: white;
	font-family: 'Baloo 2', cursive;
}
.hero {
	width: 100%;
	height: 100vh;
	background: url(img/landing-5.jpg) top center;
	background-size: cover;
	position: relative;
}
.bar_el {
	margin-left: 35px;
}
.hero .hero-container {
	margin-top: 10%;
	margin-left: 13%;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
	flex-direction: column;
	color: white;
}
.navbar-brand, .navbar-nav li a {
	line-height: 60px;
	height: 60px;
	padding-top: 0;
}
.contact_btn {
	margin-top: 2%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}
.about {
	margin-top: 4%;
}
.skills_list {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.featured_work {
	margin-top: 15%;
	margin-left: 15%
}
.card-img-overlay {
   position: absolute;
   background: rgba(80, 151, 204, 0.9);
   width: 100%;
   transition: .5s ease;
   opacity:0;
}
.go_btn {
	margin-top: 50%;
}
.card1:hover .card-img-overlay {
   opacity: 1;
}
.card2:hover .card-img-overlay {
   opacity: 1;
}
.card3:hover .card-img-overlay {
   opacity: 1;
}
.card4:hover .card-img-overlay {
   opacity: 1;
}
.past_work {
	margin-top: 15%;
}
.right_sidebar {
	position: fixed;
	transform: rotate(90deg);
	right: 30px;
	left: auto;
	bottom: -30px;
	width: 285px;
	z-index: 10;
}
.left_sidebar {
	position: fixed;
	left: 30px;
	right: auto;
	bottom: 0px;
	width: 40px;
	z-index: 10;
}
.fa {
	margin-top: 30px;
}
.vll {
  border-left: 1px solid black;
  margin-top: 30px;
  margin-left: 24%;
  height: 200px;
}
.vlr {
  border-left: 1px solid black;
  transform: rotate(90deg);
  margin-top: 30px;
  height: 200px;
}
.email {
	margin-left: -150px;
}


@media screen and (min-width: 801px) {
	.main_text {
		font-size: 50px;
	}
	.about_text {
		font-size: 20px;
	}
	.headshot {
		width: 70%;
		margin-left: 10%;
	}
}

@media screen and (max-width: 800px) {
	.main_text {
		font-size: 4.2vw;
	}
	.about_text {
		font-size: 2.5vw;
	}
	.headshot {
		width: 100%;
		margin-left: 10%;
	}
}
